.notification-modal {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 140px;
            height: 140px;
        }
        button {
            padding: 9px !important;
            margin-top: 50px !important;
            min-width: 350px !important;
            &.success {
                background-color: #38c218;
            }
            &.danger {
                background-color: #E21B1B;
            }
            &.warning {
                min-width: 130px !important;
            }
        }
    }
   
}